USE [movielens]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 6/30/2017 2:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[movie](
	[movieid] [int] NOT NULL,
	[title] [varchar](200) NULL,
	[genere] [varchar](200) NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[movieid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rating]    Script Date: 6/30/2017 2:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rating](
	[userid] [int] NULL,
	[movieid] [int] NULL,
	[rating] [float] NULL,
	[datetime] [varchar](50) NULL,
	[dateyear] [smallint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 6/30/2017 2:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[userid] [int] NOT NULL,
	[age] [tinyint] NULL,
	[gender] [char](1) NULL,
	[occupation] [varchar](50) NULL,
	[zipcode] [varchar](20) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[movie] ([movieid], [title], [genere]) VALUES (1, N'Toy Story', N'Adventure|Animation|Children|Comedy|Fantasy')
INSERT [dbo].[movie] ([movieid], [title], [genere]) VALUES (2, N'Jumanji', N'Adventure|Children|Fantasy')
INSERT [dbo].[movie] ([movieid], [title], [genere]) VALUES (3, N'Grumpier Old Men', N'Comedy|Romance')
INSERT [dbo].[rating] ([userid], [movieid], [rating], [datetime], [dateyear]) VALUES (13, 1, 4, NULL, NULL)
INSERT [dbo].[rating] ([userid], [movieid], [rating], [datetime], [dateyear]) VALUES (13, 2, 3, NULL, NULL)
INSERT [dbo].[rating] ([userid], [movieid], [rating], [datetime], [dateyear]) VALUES (13, 10, 3, NULL, NULL)
GO
INSERT [dbo].[user] ([userid], [age], [gender], [occupation], [zipcode]) VALUES (1, 24, N'M', N'technician', N'85711')
INSERT [dbo].[user] ([userid], [age], [gender], [occupation], [zipcode]) VALUES (2, 53, N'F', N'other', N'94043')
INSERT [dbo].[user] ([userid], [age], [gender], [occupation], [zipcode]) VALUES (3, 23, N'M', N'writer', N'32067')
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [ref_movie] FOREIGN KEY([movieid])
REFERENCES [dbo].[movie] ([movieid])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [ref_movie]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [ref_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([userid])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [ref_user]
GO
